@import url(./global.css);

header{
    font-family: var(--font);             
    background-color: var(--color-neutral-silver);
    width: 100%;
    height: 64px;
    border: 1px solid black;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.underlineless {
    color: black;
    text-decoration: none; 
    font-size: var(--body_regular2); 
    font-weight: var(--body_regular_font_weight);    
}

.header_button_login{
    color: var(--color-primary);
    background-color: var(--color-neutral-silver);
    border: 0px solid var(--color-primary);
    font-size: var(--body_regular3); 
    font-weight: var(--body_regular_font_weight); 
    border-radius: 6px;
    height: 40px;
    width: 91px;
    cursor: pointer;

}

.header_button_signin{
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    border: 0px solid var(--color-primary);
    font-size: var(--body_regular3); 
    font-weight: var(--body_regular_font_weight); 
    border-radius: 6px;
    height: 40px;
    width: 91px;
    cursor: pointer;
   
}

.section1{
    font-family: var(--font);   
    background-color: var(--color-neutral-silver);
    width: 100%;
    height: 599px;
    border: 1px solid black;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.s1_box{      
    width: 1152px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s1_boxbox{
    width: 657px;
    height: 276px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.s1_verde{
    color: var(--color-primary);
}

.s1_text{
    font-size: var(--headline1);
    font-weight: var(--headline_font_weight);
    color: var(--color-neutral-d_grey);
   
}

.s1_minor_text{    
    font-size: var(--body_regular2);
    font-weight: var(--body_regular_font_weight);
    color: var(--color-neutral-grey);
}

.s1_button{
    color: var(--color-primary);
    background-color: var(--color-primary);
    border: 0px solid var(--color-primary);
    color: var(--color-neutral-white);
    font-size: var(--body_regular2); 
    font-weight: var(--body_regular_font_weight); 
    border-radius: 4px;
    height: 52px;
    width: 128px;
    cursor: pointer;
}

.section2{
    font-family: var(--font);
    width: 100%;
    height: 190px;
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.s2_textbox{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.s2_boxtext1{
    color: var(--color-neutral-d_grey);
    font-size: var(--headline2);
    font-weight: var(--headline_font_weight);
}

.s2_boxtext2{
    color: var(--color-neutral-grey);
    font-size: var(--body_regular2);
    font-weight: var(--body_regular_font_weight);

}

.s2_logo{
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}